
.formStyle{
    margin-left: 110px;
}

.headerREG {
    background-color: #60d0ff;
    color: #369abd;
}

.inputField{
    width: 430px;
    border-radius: 5px;
    border: 2px solid #369abd;
}


@media (max-width: 768px) {

    .formStyle {
        margin-left: 0;
    }

    .inputField{
        width: 340px !important;
    }
}