
.carousel {
    margin-top: 60px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
}

.carousel-image {
    width: 100% !important;
    height: 550px !important;
    object-fit: cover !important;
    background-size: cover;
    display: block;
    margin: 0 auto;
    object-position: center;
}

.carousel-caption {
    bottom: 10%;
    background-color: rgba(30, 30, 30, 0.7);
    border-radius: 250px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #b0cd4d;
    border-radius: 100%;
}
