

.carousel-image {
    width: 100% !important;
    height: 500px !important;
    object-fit: cover !important;
    /*border-radius: 35px;*/
}

.carousel-caption {
    bottom: 10%;
    background-color: rgba(30, 30, 30, 0.7);
    border-radius: 250px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #b0cd4d;
    border-radius: 100%;
}


