
.btnGlowNav-Homepage {
    width: 120px;
    height: 30px;
    border: 1px solid #9adcff;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
    overflow: hidden;
    transition: background 0.3s ease-in-out;
}

.btnGlowNav-Homepage:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 0;
    left: 0;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    animation: glowing 20s linear infinite;
    opacity: 1;
    border-radius: 25px;
}

.btnGlowNav-Homepage:active {
    color: #202a31;
}

.btnGlowNav-Homepage:active:after {
    background: transparent;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.btnGlowNav-Homepage:hover:before {
    background: #9adcff;
}

.navbar-Homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #202a31;

    padding: 0 50px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-logo-Homepage {
    vertical-align: center;
    align-items: center;
    max-height: 50px;
}

.logo-container-Homepage {
    display: flex;
    align-items: center;
}

.navbar-Homepage a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.2s;
    background-color: #555555;
}

.menu-toggle-Homepage {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-Homepage {
    display: flex;
    align-items: center;
}

.btnNav-Homepage {
    color: #9adcff;
    background-color: #202a31;
    border-radius: 25px;
    border: 2px solid transparent;
    box-sizing: border-box;
    animation: rainbow 7s infinite linear;
}

@keyframes rainbow {
    0% {border-color: red;}
    14% {border-color: orange;}
    28% {border-color: yellow;}
    42% {border-color: green;}
    57% {border-color: blue;}
    71% {border-color: indigo;}
    85% {border-color: violet;}
    100% {border-color: red;}
}

.btnNav-Homepage:hover {
    border-radius: 25px;
    border: 2px solid transparent;
    box-sizing: border-box;
    animation: rainbow 5s infinite linear;
    color: #202a31;
    background-color: #369abd !important;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-Homepage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: #202a31;
    }

    .logo-container-Homepage {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle-Homepage {
        display: block;
    }

    .menu-Homepage {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #202a31;
        z-index: 10;
    }

    .menu-Homepage.open-Homepage {
        display: flex;
    }
}


.parallax {
    background-image: url('../../pictures/MRG_Code_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: auto;*/
    background-position: bottom;
    height: 730px;
    width: auto;
}

.break {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #E4F4FF;

}

.break-item {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    width: 30vw;
    height: auto;
    border-radius: 30px;
    text-align: center;
    background-color: #b4def3;
    border: 3px solid #369abd;

}

.footer {
    /*background-color: #b0b0b0;*/
    background-color: #95A5E1;
    border-top: 3px solid #369abd;
}

.footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.kontaktDiv {
    margin: 20px;
    padding: 20px;
    background-color: #E4F4FF;
    text-align: left;
    border-radius: 25px;
    border: 3px solid #369abd;
}

